body{font-family: Gill Sans, sans-serif; }
body{background-image: url('background.jpg');}
mark{background-color: #ff00a6; color: black;}
a{background-color: #84ff00; color: black;}
aside{
		width: 20%;
		padding-left: auto;
		padding-right: auto;
		margin-right: 300px;
		float:right;
		text-align: center;
		max-width: fit content;
		width: 100px;
		height: 100px;
}
iframe{
	border: dashed yellow;
	width: 350px;
	height: 350px;
}

.left{
	width: 20%;
	padding-left: 40px;
	padding-right: auto;
	margin-right: 100px;
	float:left;
	text-align: center;
	max-width: fit content;
	width: 100px;
	height: 100px;
}